/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #fff;
  padding: 0 20px;
}

nav {
  color: #fff;
  background-color: #e84545;
  width: 100%;
  height: 70px;
  line-height: 70px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #2b2e4a;
}

.parallax-container {
  min-height: 720px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

footer.page-footer {
  margin: 0;
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #e84545;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
