@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0;
    font-size: 28px;
    background: #242424;
    font-family: 'Open Sans', sans-serif;
  }
  
.header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}

img {
    height: 252px;
    overflow-x: hidden;
}

#navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}
  
#navbar a {
    float: left;
    display: block;
    color: #a5a5a5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
#navbar a:hover {
    background-color: #8f8f8f;
    color: rgb(10, 10, 10);
}
  
#navbar a.active {
    background-color: #7e7e7e;
    color: white;
}
  
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-view {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
}
 
.card-header {
    padding: 0rem 0rem!important;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin: 0;
    height: 400px!important;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-header img{
    background-size: cover;
    width: 100%;
    height: 100%;
}

.intro {
    text-align: center;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #6ABCEA;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navbar-dark {
    padding: 15px !important;
    background: #13191d !important;
}

.sidebar {
    line-height: 26px;
    padding-top: 50px;
}

.sidebar ul {
    margin: 30px 0px;
}

.sidebar .nav-link {
    display: block;
    text-align: center;
}

.sidebar .nav-link i {
    display: block;
    text-align: center;
}

.sidebar .nav-link.active {
    color: #03A9F4;
}

.movie_list {
    margin-top: 5rem;
    padding-left: 4rem !important;
}

.card-view {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 315px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
}

.card-header {
    padding: 0;
    margin: 0;
    height: 367px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.avengerEndgame {
    background: url("img/avengers.jpg");
    background-size: cover;
}

.hobbsShaw {
    background: url("img/hobbs-and-shaw.jpg");
    background-size: cover;
}

.Johnwick {
    background: url("img/john-wick-3.jpg");
    background-size: cover;
    background-position: 100% 100%;
}

.deadPool {
    background: url("img/deadpool-2.jpg");
    background-size: cover;
}

.theLionking {
    background: url("img/lion_king.jpg");
    background-size: cover;
}

.madMax {
    background: url("img/mad_max.jpg");
    background-size: cover;
}

.aquaMan {
    background: url("img/aqua_man.jpg");
    background-size: cover;
}

.missionImpossible {
    background: url("img/mission_impossible.jpg");
    background-size: cover;
}

.header-icon {
    width: 100%;
    height: 367px;
    line-height: 367px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #ffffff;
    font-size: 54px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
    opacity: .85;
}

.header-icon:hover {
    background: rgba(0, 0, 0, 0.15);
    font-size: 74px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
}

.card-view:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.card-movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
    height: 164px;
    text-overflow: ellipsis;
}

.card-movie-content-head,
.card-movie-info {
    display: table;
    width: 100%;
}

.card-movie-title {
    font-size: 20px;
    margin: 0;
    display: table-cell;
    width: 205px!important;
    height: 60px!important;
}

.ratings {
    width: 50px;
    height: 15px;
    background-size: contain;
    display: table-cell;
    text-align: right;
    position: relative;
    margin-top: 5px;
    font-weight: 600;
    font-size: 25px;
}

.ratings span {
    color: #2196F3;
}

.card-movie-info {
    margin-top: 1em;
}

.movie-running-time {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
}

.movie-running-time:first-of-type {
    text-align: left;
}

.movie-running-time:last-of-type {
    text-align: right;
}

.movie-running-time label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .5em;
    font-size: 9px;
}

.movie-running-time span {
    font-weight: 700;
    font-size: 11px;
}

.test {
    display: grid;
    justify-content: center!important;
    align-content: center!important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    padding: 100px;
}

.movie_list {
    padding-left: 0!important;
    padding-right: 0!important;
}

.card-movie-content-head div{
    height: 80px!important;
    text-overflow: ellipsis;
}