{% extends 'base.html' %}
{% load static %}

{% block content %}

<br><br>
<br><br>

    <div class="container">
        <div class="shadow card text-white bg-secondary mb-3" style="padding: 50px">
            <p> Title: <b>{{ movie_data.Title }}</b></p>
            <p> Type: <b>{{ movie_data.Type }}</b></p>
            <p> Plot: <b>{{ movie_data.Plot }}</b></p>
            <p> Year: <b>{{ movie_data.Year }}</b></p>
            <p> Rated: <b>{{ movie_data.Rated }}</b></p>
            <p> Released: <b>{{ movie_data.Released }}</b></p>
            <p> Runtime: <b>{{ movie_data.Runtime }}</b></p>
            {% if our_db is True %}
            <p> Genre: {% for genre in movie_data.Genre.all %}<b>{{ genre }}, </b>{% endfor %}</p>
            {% else %}
            <p> Genre: <b>{{ movie_data.Genre }} </b></p>
            {% endif %}

            <p> Director: <b>{{ movie_data.Director }}</b></p>
            <p> Writer: <b>{{ movie_data.Writer }}</b></p>

            {% if our_db is True %}
            <p> Actors: {% for actor in movie_data.Actors.all %}<b>{{ actor }}, </b>{% endfor %}</p>
            {% else %}
            <p> Actors: <b>{{ movie_data.Actors }}</b></p>
            {% endif %}

            <p> Language: <b>{{ movie_data.Language }}</b></p>
            <p> Country: <b>{{ movie_data.Country }}</b></p>
            <p> Awards: <b>{{ movie_data.Awards }}</b></p>

            <p> Box Office: <b>{{ movie_data.BoxOffice }}</b></p>
            <p> imdb Votes: <b>{{ movie_data.imdbVotes }}</b></p>
            <p> imdb ID: <b>{{ movie_data.imdbID }}</b></p>
            <p> Production: <b>{{ movie_data.Production }}</b></p>
        </div>
    </div>

    <br><br>

{% endblock %}